<!--====== FOOTER EIGHT PART START ======-->
<footer class="footer-area footer-eight">
    <div class="footer-widget">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="f-about">
                        <div class="logo">
                            <a href="javascript:void(0)">
                                <img src="{{ url_for('static',filename='assets/images/logo-chilote.png') }}" alt="Logo" />
                            </a>
                        </div>
                        <div class="footer-support">
                            <span class="number"><i class="lni lni-phone-set"></i> +569 1234 5678</span>
                            <span class="mail"><i class="lni lni-envelope"></i> soporte@chiloe.cl</span>
                        </div>
                        <ul class="social">
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="lni lni-facebook-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="lni lni-twitter-original"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="lni lni-instagram-filled"></i>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0)">
                                    <i class="lni lni-linkedin-original"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Catalogo & Contacto</h6>
                        <ul>
                            <li><a href="javascript:void(0)">Tienda Virtual</a></li>
                            <li><a href="javascript:void(0)">Catalogo</a></li>
                            <li><a href="javascript:void(0)">Contacto</a></li>
                        </ul>
                    </div>
                    <!-- footer link -->
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6">
                    <div class="footer-link">
                        <h6 class="footer-title">Sitios Relacionados</h6>
                        <ul>
                            <li><a href="javascript:void(0)">Ancud</a></li>
                            <li><a href="javascript:void(0)">Castro</a></li>
                            <li><a href="javascript:void(0)">Camara de Comercio</a></li>
                        </ul>
                    </div>
                    <!-- footer link -->
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- footer widget -->

    <div class="footer-copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="copyright text-center">
                        <p class="text">Copyright © 2022 <a href="http://sebazuniga.cl/">sZuniga</a>. Todos los derechos reservados.</p>
                    </div>
                </div>
            </div>
            <!-- row -->
        </div>
        <!-- container -->
    </div>
    <!-- footer copyright -->
</footer>

<!--====== FOOTER EIGHT PART ENDS ======-->