{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='assets/scss/headers/header-03.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='assets/scss/contact/contact-06.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='assets/scss/call-to-action/call-to-action-03.css') }}" />
<link rel="stylesheet" href="{{ url_for('static',filename='assets/scss/features/feature-06.css') }}" />
{% endblock %}

{% block content %}
<!--====== HEADER THREE PART START ======-->
<section class="header-area header-three">
  <div class="header-content-area">
    <iframe width="100%" height="900" src="https://maphub.net/embed/192000?button=0" frameborder="0"></iframe>
  </div>
  <!-- header content area -->
</section>
<!--====== HEADER THREE PART ENDS ======-->
{% include 'catalog.html'%}
{% include 'recommendations.html'%}
{% include 'contact.html'%}
{% endblock %}

{% block script %}
{% endblock %}