{% extends 'base.html' %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static',filename='assets/scss/features/feature-06.css') }}" />
<link rel="stylesheet" href="http://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css" />
{% endblock %}

{% block content %}
<!--====== FEATURE SIX PART START ======-->
<section class="features-area features-six">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h5 class="title">
            Busca el lugar que quieres encontrar
          </h5>
        </div>
        <!-- section title -->
      </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Restaurantes</h3>            
            <p class="text">
              <i class="fa-solid fa-utensils fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Bares, Pubs & Discoteques</h3>            
            <!-- <i class="fa-solid fa-music fa-4x"></i> -->
            <p class="text">
              <i class="fa-solid fa-martini-glass fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Comida Rápida</h3>            
            <p class="text">
              <i class="fa-solid fa-burger fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Hoteles</h3>
            <p class="text">
              <i class="fa-solid fa-hotel fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Cabañas</h3>
            <p class="text">
              <i class="fa-solid fa-house-chimney fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Tours</h3>
            <p class="text">
              <i class="fa-solid fa-person-hiking fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Parques</h3>
            <p class="text">
              <i class="fa-solid fa-tree fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Museos</h3>
            <p class="text">
              <i class="fa-solid fa-building-columns fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8">
          <div class="features-style-six text-center">
            <h3 class="features-title">Tiendas</h3>
            <p class="text">
              <i class="fa-solid fa-shop fa-4x"></i>
            </p>
          </div>
          <!-- features-style-six -->
        </div>
    </div>
    <br/>
    <br/>
    <!-- row -->
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <table id="tabla-catalogo" class="table table-hover results">
          <thead>
            <tr>
              <th class="col-md-4 col-xs-4">Negocio</th>
              <th class="col-md-3 col-xs-3">Categoria</th>
              <th class="col-md-3 col-xs-3">Ubicacion</th>
            </tr>
          </thead>
          <tbody>
            {% for local in data_locales %}
            <tr>
                <td>{{local['name']}}</td>
                <td>
                  <i class="fa-solid fa-martini-glass"></i>
                  {{local['category']}}
                </td>
                <td>
                  <a href="http://{{local['url']}}" target="_blank">
                    <i class="fa-solid fa-map-location"></i>
                  </a>
                </td>                
            </tr>
            {% endfor %}            
          </tbody>
        </table>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== FEATURE SIX PART ENDS ======-->
{% endblock %}

{% block scripts %}
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-CL.json"></script>
<script type="text/javascript">
  $('#tabla-catalogo').dataTable({
      language: {
        url: 'https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json'
      }
    }
  );

// $('#enviar-contacto').on('click', function(e) {
//     e.preventDefault();
//     $.ajax({
//         type: 'POST',
//         url: '{{url_for("contacto")}}' + '/enviar',
//         contentType: 'application/json',
//         // data: JSON.stringify(formulario.serializeArray()),
//         data: $('#formulario-contacto').serialize(),
//         dataType: 'html',
//         success: function(response) {
//             console.log(response);
//         }
//     });
//     return true;
// })

</script>
{% endblock %}