<!--====== CALL TO ACTION THREE PART START ======-->

<section class="call-action-area call-action-three">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xl-5 col-lg-6">
        <div class="call-action-content">
          <h2 class="action-title">
            Visitarás la isla grande del Archipiélago de Chiloé y no aun no tienes claro que hacer...
          </h2>
          <p class="text">
            Revisa nuestras recomendaciones, entre las cuales encontraras:
            Lugares magicos que visitar, Platos tipicos que degustar, Productos propios de la isla, Tours, Trekkings y
            mucho mas...
          </p>
          <div class="action-btn rounded-buttons">
            <a href="javascript:void(0)" class="btn primary-btn rounded-full">
              Revisa nuestras recomendaciones
            </a>
          </div>
        </div>
        <!-- call action content -->
      </div>
      <div class="col-xl-5 col-lg-6 offset-xl-2">
        <div class="call-action-content">
          <img src="{{ url_for('static',filename='assets/images/call-to-action/cta-03.svg') }}" alt="call to action" />
        </div>
        <!-- call action content -->
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- container -->
</section>

<!--====== CALL TO ACTION THREE PART ENDS ======-->